
# Wave Framework
# Apache configuration
# 
# Apache commands are stored in this file, including the loading of RewriteEngine, which is 
# used to filter requests to certain file extensions and direct certain files to /index.php 
# for parsing, including loading all URL's that it cannot find that WWW_controller_url can 
# solve.
# 
# Author and support: Kristo Vaher - kristo@waher.net
# License: GNU Lesser General Public License Version 3

# This is required on some server setups for RewriteEngine to work properly
# But this can also throw 500 errors on some hosting environments, if it does then remove it
Options +FollowSymLinks 

# RewriteEngine is required to make Index gateway work correctly
RewriteEngine on

# Files from static folder are served directly
RewriteRule ^resources/static/ - [L]

# Everything that is not a PHP file is redirected to index.php
# If you do not wish to redirect all to index.php, then write different RewriteRules for this reason
# Everything redirected through Index gateway will make a small hit on performance, but offer better handling and control in PHP
RewriteRule !^(.*)\.php$ ./index.php [QSA,L]