
# WWW - PHP micro-framework
# 
# Apache commands are stored in this file, including the loading of RewriteEngine, which is 
# used to filter requests to certain file extensions and direct certain files to /index.php 
# for parsing, including loading all URL's that it cannot find that WWW_controller_url can 
# solve. These commands are required if you wish to use /index.php for website building with 
# WWW framework.
# 
# Author and support: Kristo Vaher - kristo@waher.net

# This is required on some server setups for RewriteEngine to work properly
# But this can also throw 500 errors on some hosting environments, if it does then remove it
Options +FollowSymLinks 

# All requests, except some static files, are redirected to index.php gateway file.
RewriteEngine on

# This hides a number of files from public access, including certificates, temporary and log fyles and database files
RewriteRule (.*\.(tmp|log|ht|htaccess|pem|crt|db|sql|version))$ ./index.php?403 [L]

# Redirecting sitemap requests to gateway
RewriteRule sitemap.xml ./index.php?sitemap [L]

# Redirecting robots requests to gateway
RewriteRule robots.txt ./index.php?robots [L]

# Redirecting existing image file to gateway
RewriteRule (.*\.(jpeg|jpg|png|ico|gif|bmp))$ ./index.php?image [L]

# Redirecting existing css file to gateway
RewriteRule (.*\.(css|js|txt|csv|xml|html|htm|rss|ini|vcard))$ ./index.php?resource [L]

# Redirecting API requests to gateway
RewriteRule (.*\.api)$ ./index.php?api [L]

# Requests that seem to have an extension are directed to File handler
RewriteCond %{REQUEST_FILENAME} !(.*\.php)$
RewriteRule (.*\.([a-zA-Z]{2,4}))$ ./index.php?file [L]

# Redirecting anything that is not a file to gateway
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* ./index.php?data [L]

# Every other file is handled by Apache as necessary