
/* 
Wave Framework
General stylesheet

General use stylesheet that is loaded by WWW_controller_view. All styles can be defined 
in this file and this file is generally loaded as the first CSS file in the system after 
reset CSS.

* It is possible to pre-load images based on example in this file

Author and support: Kristo Vaher - kristo@waher.net
License: This file can be copied, changed and re-published under another license without any restrictions
*/


/* PRELOAD */
/* You can load multiple files like this: */
/*
body:after {
	content: url('images/logo.png') url('images/logo.png');
	display: none;
}
*/